tiles/zoom.-1/.DS_Store
tiles/.DS_Store
tiles/zoom.3/.DS_Store
tiles/zoom.2/.DS_Store
tiles/zoom.1/.DS_Store
tiles/zoom.0/.DS_Store
tiles/zoom.-4/.DS_Store
tiles/zoom.-3/.DS_Store
tiles/zoom.-2/.DS_Store
tiles/zoom.-1/.DS_Store
.DS_Store
